<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.otavio.icarelauncher">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- AdMob App ID: ca-app-pub-8321777709085519~4125895113 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/banner_ad_initialize" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.Home.HomeScreen"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.otavio.icarelauncher.Telas.SOS.TelaSOS"
            android:documentLaunchMode="intoExisting"
            android:label="TelaSOS"
            android:parentActivityName="com.otavio.icarelauncher.Telas.Home.HomeScreen"
            android:screenOrientation="portrait"

            android:theme="@style/ThemeAlarms"
            tools:targetApi="lollipop">
            <meta-data
                android:name="android.support.SOS_ACTIVITY"
                android:value=".TelaSOS" />
        </activity>

        <activity
            android:name="com.otavio.icarelauncher.Telas.Nota.TelaNotas"
            android:documentLaunchMode="intoExisting"
            android:label="TelaNotas"
            android:parentActivityName="com.otavio.icarelauncher.Telas.Home.HomeScreen"
            android:theme="@style/ThemeAlarms"
            tools:targetApi="lollipop">
            <meta-data
                android:name="android.support.NOTAS_ACTIVITY"
                android:value=".TelaNotas" />
        </activity>

        <activity
            android:name="com.otavio.icarelauncher.Telas.Alarmes.TelaAlarmes"
            android:documentLaunchMode="intoExisting"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms"
            tools:targetApi="lollipop" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.Alarmes.EditarAlarmes"
            android:parentActivityName="com.otavio.icarelauncher.Telas.Alarmes.TelaAlarmes"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.Alarmes.VisualizarHistorico"
            android:parentActivityName="com.otavio.icarelauncher.Telas.Alarmes.TelaAlarmes"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.Alarmes.NovoAlarme"
            android:parentActivityName="com.otavio.icarelauncher.Telas.Alarmes.TelaAlarmes"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.Alarmes.Tabs"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms" />

        <activity
            android:name="com.otavio.icarelauncher.Receiver.FireAlarm"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:targetApi="lollipop" />

        <activity
            android:name="com.otavio.icarelauncher.Telas.SOS.Mensagem"
            android:parentActivityName="com.otavio.icarelauncher.Telas.SOS.TelaSOS"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAlarms" />

        <receiver
            android:name="com.otavio.icarelauncher.Receiver.AlarmReceiver"
            android:exported="true"
            android:permission="true"
            android:process=":remote"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.otavio.icarelauncher.Receiver.BootReceiver"
            android:exported="true"
            android:permission="true"
            android:process=":remote"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>